# Virtual Environment
venv/

# Local Model & Database
model_cache/
vector_db/

# Data files
Alzheimer_data/

# Python cache
__pycache__/

# Environment variables file
.env

# System files (optional but good practice)
.DS_Store